<form class="display-inline" method="post" action="{{ path('app_pressupostos_delete', {'idPressupost': pressupost.idPressupost}) }}" onsubmit="return confirm('Estás segur que vols eliminar aquest pressupost?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pressupost.idPressupost) }}">
    <button class="btn btn-primary"><i data-feather="delete"></i></button>
</form>
