<form method="post" action="{{ path('app_pagaments_delete', {'idPagament': pagament.idPagament}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pagament.idPagament) }}">
    <button class="btn">Delete</button>
</form>
