{% extends 'base.html.twig' %}

{% block title %}Edit Pagaments{% endblock %}

{% block body %}
    <h1>Edit Pagaments</h1>

    {{ include('pagaments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pagaments_index') }}">back to list</a>

    {{ include('pagaments/_delete_form.html.twig') }}
{% endblock %}
