{% extends 'base.html.twig' %}

{% block title %}New Pagaments{% endblock %}

{% block body %}
    <h1>Create new Pagaments</h1>

    {{ include('pagaments/_form.html.twig') }}

    <a href="{{ path('app_pagaments_index') }}">back to list</a>
{% endblock %}
