<form class="display-inline" method="post" action="{{ path('app_comanda_producte_delete', {'id': productes.idComandaProducte, 'idComanda': productes.idComanda }) }}" onsubmit="return confirm('Estas segur que vols treure aquest producte de la comanda?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ productes.idComandaProducte) }}">
    <button class="btn btn-primary"><i data-feather="delete"></i></button>
</form>
