{% extends 'base.html.twig' %}

{% block body %}
    <footer class="py-3 verd-fons-background">
        <p class="text-center lletra-grisa">&copy; 2023 JFR Professional Solutions</p>
    </header>
{% endblock %}
